.title {
    background-color: red;
    color:black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rec {
    font-size: x-large;
    background-color: rgb(209, 180, 180);
    color: antiquewhite;
}

button {
    background-color: rgb(209, 180, 180);
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: aqua;
}

h3 {
    color: blue;
}